body {
    width: 1024px;
    margin: 0 auto;
    background-color: darkkhaki;
    position: relative;
    
}
.main {
    width: 1024px;
    height: 928px;
    background-color: #fff;
    position: relative;
}
.black {
    width: 1022px;
    height: 10px;
    background-color: #1d1d1b;
    margin-left: 2px;
}
.gray {
    width: 1022px;
    height: 10px;
    background-color: #dcdcda;
    margin-left: 2px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    margin-left: 76px;
    margin-top: 35px;

}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header ul {
    display: inline-flex;
    margin-right: 60px;
    justify-content: space-between;
    width: 455px;
    margin-top: 19px;
    gap: 26px;
}

.header a {
    text-decoration: none;
    font-size: 16px;
    font-family: "Arial";
    color: rgb(63, 63, 63);
    line-height: 1.2;
    margin-top: -10px;
    text-align: left;
}

    
.header a:hover {
    text-decoration: underline;
}
.faq {
    margin-right: 22px;
    margin-top: -10px;
}
.words {
    height: 383px;
    margin-top: 20px;
    background-image: url(img/words.png);
    background-repeat: no-repeat;
    background-position: 87px 85px;
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.words ul {
    margin-left: 49px;
    margin-top: 142px;
}
.words p {
    margin: 0;
    padding: 0;
}
.words img {
    float: right;
    margin-top: 41px;
    margin-right: 43px;
}

.words li:first-child {
        font-size: 30px;
        font-family: "Arial";
        color: rgb(29, 30, 27);
        font-variant: small-caps;
    
        text-align: right;

}
.words li:last-child {
        font-size: 16px;
        font-family: "Arial";
        color: rgb(44, 120, 156);
        text-align: right;

      
}
.focus {
    position: absolute;
    background-color: lightgreen;
    margin: 0 auto;
    top: 604px;
    right: 1px;
}
.focus > ul {
    display: flex;
    width: 944px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
}
.focus  li {
    background-color: purple;
    height: 154px;
    width: 33%;
    padding-left: 30px;
}
.focus  li:nth-child(1) {
    background: #2c789c;
    position: relative;
    background-image: url(img/blueImg.png);
    background-repeat: no-repeat;
    background-position: 257px 6px ;
    padding-left: 15px;
    width: 35%;
    
}

.focus li:nth-child(1):after {
    content: ''; 
    position: absolute;
    right: -45px; top: 47px;
    border: 22px solid transparent;
    border-left: 23px solid #2c789c;
    z-index: 5;
}
.focus  li:nth-child(2) {
    background: #e5b00d;
    position: relative;
    background-image: url(img/yellowImg.png);
    background-repeat: no-repeat;
    background-position: 260px 5px ; 
    
}
.focus li:nth-child(2):after {
    content: ''; 
    position: absolute;
    right: -45px; top: 47px;
    border: 22px solid transparent;
    border-left: 23px solid #e5b00d;
    z-index: 5;
}
.focus  li:nth-child(3) {
    background: #97ba15;
    position: relative;
    background-image: url(img/greenImg.png);
    background-repeat: no-repeat;
    background-position: 273px 6px ;   
}
.focus a {
   /* display: block;*/
    padding: 3px 10px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Arial";
    line-height: 1.188;
    box-sizing: border-box;      
}
.focus a:hover {
    background-color: black;
    color: #fff;
}
.focus p:nth-child(1) {
    font-size: 19px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    line-height: 0.264;
    text-align: left;
    margin-top: 15px;
      }
  
.focus p:nth-child(2) {
    font-size: 14px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    line-height: 1.357;
    text-align: left;
    margin-right: 30px;
  }
.text {
    display: flex;
    margin: 60px 17px 0 17px;
    width: 990px;


}
.text div:nth-child(1){
    padding-left: 38px;
}
.text div:nth-child(2){
    width: 40%;
    margin-right: 47px;
}
.text p{
    margin: 0;
    padding: 0;  
    width: 99%;
}
.text p:nth-child(1) {    
    font-size: 24px;
    font-family: "Arial";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 0.792;     

}

.text p:nth-child(2) {    
  font-size: 16px;
  font-family: "Arial";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.188;
  margin-top: 9px;
}
.text p:nth-child(3) {
      font-size: 16px;
  font-family: "Arial";
  color: rgb(123, 125, 120);
  line-height: 1.188;
  margin-top: 17px;
}

input {
    margin-top: 12px;
    margin-right: 30px;
    font-size: 15px;
    font-family: "Arial";
    color: rgb(153, 153, 153);
    line-height: 1.188;
    padding: 11px 87px 4px 8px;
  
}
.text  a {
    display: block;
    box-sizing: border-box;
    width: 103px;
    text-align: center;
    background-color: black;
    color: #fff;
    margin-top: 20px;

}
.text a:hover {
    background-color: #fff ;
    color: black;
}
/*.text >  a:nth-child(2){
    margin-top: 20px;
} */
::placeholder {

  font-size: 16px;
  font-family: "Arial";
  color: rgb(153, 153, 153);
  line-height: 1.188;
  padding: 12px;


}

